@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:ital,wght@0,500;1,300&display=swap');

body{
    margin: 0px;
}

#main-doc {
    display: grid;
    grid-template-columns: 148px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: black;
}




.nav-link{
    text-decoration: none;
    color:red;
}

h1{
    color: red;
}
h3{
    color: blue;
}

#documentation{
    font-size: 20px;
    
}

.sidebar{
    grid-column: 1 / 2;
    position: fixed;
    
    
}


.main-section{
    border: 1px solid black;
    height:50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    
    

}


.secondpage{
    border:1px solid black;
    grid-column: 2 / 4;
    display:flex;
    flex-direction: column;
    padding: 25px; 
    
}

#variables




@media (max-width: 350px){

}