@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:ital,wght@0,500;1,300&display=swap');



#main-doc {
    display: grid;
    grid-template-columns: 200px 665px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;
    color: black;
}




.nav-link{
    text-decoration: none;
    color:black;
    
    
}

#documentation{
    font-size: 20px;
}

.sidebar{
    grid-column: 1 / 2;
    
}


.main-section{
    border: 1px solid black;
    height:50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    
    

}


.secondpage{
    border:1px solid black;
    grid-column: 2 / 4;
   
    
}

#variables




@media (max-width: 350px){

}